# Ignore Python cache and compiled files
**__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model weights and checkpoints
*.pt*
*.pth*
*.weights
*.ckpt

# Ignore data, outputs, and videos
api_backend/checkpoint/**
api_backend/tmp_api_output/**
api_backend/videos/**
api_backend/**.mp4
api_backend/*_output/

**output/

# Ignore temporary and log files
*.log
*.tmp
*.swp

# Ignore AWS and Docker files that shouldn't be in the build
.aws/
*.env
.env*
**.venv/
**.env/

# Ignore test and notebook files
*.ipynb
*.test*

# Ignore build and cache directories
build/
dist/
.eggs/
*.egg-info/
*.egg

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output directories
output/
demo/

# Ignore shell scripts and other non-essential files
scripts/
run_docker_container.sh

# Ignore SageMaker config and temp files
shadow-trainer-taskdef.json
**tmp_api/
**tmp_api_output/


