.pro-keypoints-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pro-keypoints-selector label {
  font-size: 1rem;
  color: #2e4c2b;
}
.pro-keypoints-selector select {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 1rem;
}
